<html>
  <head>
  </head>
  <body bgcolor = "#FFE5DF">
  <style>
    table,
    td {
      border: 1px solid #333;
      margin-bottom: 15;
    }
  </style>

    <center>
      <h1> Check Funds </h1>
    </center>

    <center>
      <table>
      <tbody>
          <tr>
              <td>Account Name</td>
              <td>Account Funds</td>
          </tr>
      </tbody>
      </table>
    </center>

    <center>
      <a href='/home'>
        <input type="button" value="Back">
      </a>
    </center>
  </body>
</html>