<html>
  <head>
  </head>

  <body bgcolor = "#FFE5DF">

    <center>
      <h1> Welcome to the Online Banking System </h1>
    </center>

    <center>
    <grid>
      <input type="button" value="Buy Stocks" color = "FFE5DF">
      <input type="button" value="Sell Stocks">
      <input type="button" value="Check Funds">
      <input type="button" value="Add Accounts">
    </grid>
    </center>
    
    <center>
      <a href='/login'>
        <input type="button" value="Sign Out">
      </a>
    </center>
  </body>

</html>
