<html>
  <head>
  </head>
  <body bgcolor = "#FFE5DF">

    <center>
      <h1> Welcome to the Online Banking System </h1>
    </center>

    <center>
      <div id = "myNavBar">
        <ul>
          <a href='buystocks'>
            <input type="button" value="Buy Stocks">
          </a>
          <a href='sellstocks'>
            <input type="button" value="Sell Stocks">
          </a>
          <a href ='/checkfunds'>
            <input type="button" value="Check Funds">
          </a>
          <a href='/addaccount'>
            <input type="button" value="Add Account">
          </a>
        </ul>
      </div>
    </center>
    
    <center>
      <a href='/login'>
        <input type="button" value="Sign Out">
      </a>
    </center>
  </body>
</html>
